<a href="https://colab.research.google.com/github/KatBotkowska/WiT_workshops/blob/main/chocolate_bar_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import io
from unicodedata import normalize

In [2]:
#podłączenie google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

#Pobranie danych z Kaggle - nie odpalać

In [3]:
root_path = 'gdrive/My Drive/WiT_workshops/'

In [4]:
cd 'gdrive/My Drive/WiT_workshops/'

/content/gdrive/My Drive/WiT_workshops

In [5]:
from google.colab import files
files.upload()  #this will prompt you to upload the kaggle.json

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"kbotkowska","key":"90ebb11108c952959800f5549af3472d"}'}

In [6]:
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json  # set permission

kaggle.json

In [7]:
!kaggle datasets download -d rtatman/chocolate-bar-ratings
# !kaggle datasets download -d sid321axn/beijing-multisite-airquality-data-set

chocolate-bar-ratings.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
!unzip -q chocolate-bar-ratings.zip -d [datasets]

replace [datasets]/flavors_of_cacao.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

#Czyszczenie danych

In [69]:
choco = pd.read_csv('/content/gdrive/MyDrive/WiT_workshops/[datasets]/flavors_of_cacao.csv', encoding='utf-8')

In [70]:
choco.head()

  Company \n(Maker-if known)  ... Broad Bean\nOrigin
0                   A. Morin  ...           Sao Tome
1                   A. Morin  ...               Togo
2                   A. Morin  ...               Togo
3                   A. Morin  ...               Togo
4                   A. Morin  ...               Peru

[5 rows x 9 columns]

In [71]:
choco.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [72]:
#usunięcie znaku nowej linii \n z nazw kolumn
choco.columns = [column.replace('\n', '') for column in choco.columns.values]
choco.columns

Index(['Company (Maker-if known)', 'Specific Bean Originor Bar Name', 'REF',
       'ReviewDate', 'CocoaPercent', 'CompanyLocation', 'Rating', 'BeanType',
       'Broad BeanOrigin'],
      dtype='object')

In [73]:
choco.columns = ['Company', 'SpecificBeanOrigin', 'ReviewDataReference',
       'ReviewDate', 'CocoaPercent', 'CompanyLocation', 'Rating', 'BeanType',
       'BroadBeanOrigin']

In [74]:
choco.columns

Index(['Company', 'SpecificBeanOrigin', 'ReviewDataReference', 'ReviewDate',
       'CocoaPercent', 'CompanyLocation', 'Rating', 'BeanType',
       'BroadBeanOrigin'],
      dtype='object')

In [75]:
choco.shape

(1795, 9)

In [76]:
choco.dtypes

Company                 object
SpecificBeanOrigin      object
ReviewDataReference      int64
ReviewDate               int64
CocoaPercent            object
CompanyLocation         object
Rating                 float64
BeanType                object
BroadBeanOrigin         object
dtype: object

In [77]:
choco.describe()

       ReviewDataReference   ReviewDate       Rating
count          1795.000000  1795.000000  1795.000000
mean           1035.904735  2012.325348     3.185933
std             552.886365     2.927210     0.478062
min               5.000000  2006.000000     1.000000
25%             576.000000  2010.000000     2.875000
50%            1069.000000  2013.000000     3.250000
75%            1502.000000  2015.000000     3.500000
max            1952.000000  2017.000000     5.000000

In [78]:
choco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              1795 non-null   object
 1   SpecificBeanOrigin   1795 non-null   object
 2   ReviewDataReference  1795 non-null   int64
 3   ReviewDate           1795 non-null   int64
 4   CocoaPercent         1795 non-null   object
 5   CompanyLocation      1795 non-null   object
 6   Rating               1795 non-null   float64
 7   BeanType             1794 non-null   object
 8   BroadBeanOrigin      1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [79]:
 #ile pustych danych (nulli) mamy w tabeli?
choco.isnull().sum()

Company                0
SpecificBeanOrigin     0
ReviewDataReference    0
ReviewDate             0
CocoaPercent           0
CompanyLocation        0
Rating                 0
BeanType               1
BroadBeanOrigin        1
dtype: int64

In [80]:
#usuwa wiersze z pustymi danymi - tutaj są tylko 2 takie wiersze
choco.dropna(inplace=True)

In [81]:
 #ile pustych danych (nulli) mamy w tabeli?
choco.isnull().sum()

Company                0
SpecificBeanOrigin     0
ReviewDataReference    0
ReviewDate             0
CocoaPercent           0
CompanyLocation        0
Rating                 0
BeanType               0
BroadBeanOrigin        0
dtype: int64

In [82]:
#sortowanie danych
choco.sort_values(['Rating', 'CocoaPercent'], ascending=False).head()

               Company  ...               BroadBeanOrigin
78              Amedei  ...                     Venezuela
86              Amedei  ...
1528              Soma  ...  Guat., D.R., Peru, Mad., PNG
1335            Pralus  ...                       Ecuador
1427  Scharffen Berger  ...                          Peru

[5 rows x 9 columns]

In [83]:
choco.loc[1427]['BeanType']

'\xa0'

In [84]:
funkcja1 = lambda x: x.replace(u'\xa0', u'')
choco['BeanType'] = choco['BeanType'].apply(funkcja1)

In [85]:
choco.loc[1427]['BeanType']

''

In [86]:
choco.isnull().sum()

Company                0
SpecificBeanOrigin     0
ReviewDataReference    0
ReviewDate             0
CocoaPercent           0
CompanyLocation        0
Rating                 0
BeanType               0
BroadBeanOrigin        0
dtype: int64

In [87]:
choco.isna().sum()

Company                0
SpecificBeanOrigin     0
ReviewDataReference    0
ReviewDate             0
CocoaPercent           0
CompanyLocation        0
Rating                 0
BeanType               0
BroadBeanOrigin        0
dtype: int64

In [88]:
choco['BeanType']

0
1
2
3
4
          ...
1790
1791    Forastero
1792    Forastero
1793
1794
Name: BeanType, Length: 1793, dtype: object

In [89]:
choco.columns

Index(['Company', 'SpecificBeanOrigin', 'ReviewDataReference', 'ReviewDate',
       'CocoaPercent', 'CompanyLocation', 'Rating', 'BeanType',
       'BroadBeanOrigin'],
      dtype='object')

In [91]:
chocoMelt = choco.melt(id_vars=['CompanyLocation','Company', 'SpecificBeanOrigin'])  #zmiana kolumn na wiersze - tworzy nową zmienną variable zawierającą nazwy kolumn, id_vars - wartości które są bez zmian, value - wartości dla zmiennej variable
chocoMelt.sort_values(['CompanyLocation', 'Company'], ascending=False).sample(10)

      CompanyLocation  ...              value
10022         Vietnam  ...            Vietnam
2779         Colombia  ...               2010
8549           U.S.A.  ...  Nacional (Arriba)
8729           Canada  ...
918            U.S.A.  ...                891
2744           France  ...               2014
9454           U.S.A.  ...          Venezuela
4107     South Africa  ...                70%
5909           France  ...               3.75
2490           U.S.A.  ...               2011

[10 rows x 5 columns]

In [98]:
chocoPivot = choco.pivot_table(values='Rating', index='CompanyLocation', columns='CocoaPercent', aggfunc=pd.Series.mean)
chocoPivot

CocoaPercent           100%   42%   46%   50%  ...   89%       90%  91%   99%
CompanyLocation                                ...
Amsterdam               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Argentina               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Australia               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Austria                 NaN   NaN   NaN   NaN  ...   NaN  3.250000  NaN   NaN
Belgium                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Bolivia                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Brazil                  NaN   NaN   NaN  3.75  ...   NaN       NaN  NaN   NaN
Canada             2.666667   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Chile                   NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Colombia                NaN   NaN  2.75   NaN  ...   NaN       NaN  NaN   NaN
Costa Rica              NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Czech Republic          NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Denmark                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Domincan Republic       NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Ecuador            1.750000   NaN   NaN   NaN  ...   NaN       NaN  1.5   NaN
Eucador                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Fiji                    NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Finland                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
France             2.250000   NaN   NaN   NaN  ...   NaN       NaN  NaN  2.00
Germany            1.500000   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Ghana                   NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Grenada                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Guatemala               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Honduras                NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Hungary                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Iceland                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
India                   NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Ireland                 NaN   NaN   NaN   NaN  ...  2.75       NaN  NaN   NaN
Israel                  NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Italy              2.666667   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Japan                   NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Lithuania               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Madagascar              NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Martinique              NaN  2.75   NaN   NaN  ...   NaN       NaN  NaN   NaN
Mexico                  NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Netherlands             NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
New Zealand        2.750000   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Niacragua               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Nicaragua               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Peru                    NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Philippines             NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Poland                  NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Portugal                NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Puerto Rico             NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Russia                  NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Sao Tome           1.000000   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Scotland                NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Singapore               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
South Africa            NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
South Korea             NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Spain                   NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
St. Lucia               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Suriname                NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Sweden                  NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Switzerland             NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
U.K.               2.291667   NaN   NaN   NaN  ...   NaN  3.000000  NaN   NaN
U.S.A.             2.000000   NaN   NaN   NaN  ...  2.50  2.916667  2.5  3.25
Venezuela               NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Vietnam                 NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN
Wales                   NaN   NaN   NaN   NaN  ...   NaN       NaN  NaN   NaN

[60 rows x 45 columns]